@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .slide-button span {
    position: relative;
    z-index: 2;
  }

  .slide-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.5s ease;
  }

  .slide-button-red::before {
    background-color: rgb(255, 0, 0, 0.2);
  }

  .slide-button-yellow::before {
    background-color: rgb(255, 255, 0, 0.2);
  }

  .slide-button-slate::before {
    background-color: rgb(255, 255, 255, 0.2);
  }

  .slide-button-slate:hover::before,
  .slide-button-yellow:hover::before,
  .slide-button-red:hover::before {
    width: 100%;
  }
}
